site_name: PBE
repo_url: https://github.com/jonh-carvalho/PBE_Template_8001

theme:
  name: material
  palette:
    primary: cyan
  color_mode: dark
  locale: pt_BR
  language: pt-BR
  favicon: images/favicon.png
  user_color_mode_toggle: true
  logo: assets/logo.png
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.footer
    - navigation.top
    - navigation.instant
    - navigation.instant.progress
    - content.code.copy
    - content.code.select
    - content.code.annotate 

plugins:
  - search
  - mkdocs-jupyter:
      execute: true
      include_requirejs: true
      include_source: true

extra:
  consent:
    actions:
      - accept
      - manage

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true